@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    Created by:
    <ul>
    <li>Scott Weaver</li>
    <li>Mark Leyderman</li>
    <li>Walace Andrade Matos</li>
    <li>Tim Lunik</li>
    </ul>
</p>
<p>
    Created for CS305 Software Engineering at Southern Illinois University
</p>
<p>
    <b>Overview:</b>
</p>
<p>
    Under the view tab you will find three seperate pages for courses, professors and rooms. These pages are used for updating the database. Once the database is updated you're ready to create a schedule. 
    Click the schedule tab and you will find a simple form. This form contains all the information from the updated database loaded into preset drop down boxes. Simply select all of the information for a single 
    course and then click the submit button to load the course information into another form below. Once you're finished filling out all of the course information you will have the option to convert
    the form into a PDF document.  
</p>